REACT_APP_API_KEY=
REACT_APP_GOOGLE_CLIENT_ID=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

REACT_APP_OPENCAGE_API_KEY=
REACT_APP_CLOUDINARY_CLOUD_NAME=
REACT_APP_CLOUDINARY_UPLOAD_PRESET=

# --- Discussion Forum ---
MONGODB_URI=
JWT_SECRET=

# --- IMPORTANT: For local development, set this to your local backend server ---
REACT_APP_API_BASE_URL=http://localhost:3000
